<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0 ,user-scalable=no">
    <!--title-->
    <title>Notes Marketplace</title>
    <!--Favicon-->
    <link href="~/Content/img/home/favicon.ico" rel="shortcut icon" />
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!--Font awesome-->
    <link href="~/Content/css/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive-tabs/responsive-tabs.min.css" rel="stylesheet" />
    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!--Custom CSS-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/responsive-tabs/responsive.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <!--jquery-->
    <script src="~/Scripts/js/jquery.min.js.js"></script>
    <script src="~/Scripts/js/responsive-tabs/jquery.responsiveTabs.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstarp JS-->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    <!--Custom JS-->
    <script src="~/Scripts/js/script.js"></script>
</body>
</html>
