
@{
    ViewBag.Title = "MyRejected";
}
@{
    Layout = "~/Views/Shared/_Layoutcommon.cshtml";

}
<div class="dashboard-title-wrapper">
    <div class="container-ds">
        <div class="mydownloads">
            <div class="title-section">
                <div class="row">
                    <div class="col-md-6">
                        <h2>My Rejected Notes</h2>
                    </div>
                    <div class="col-md-6 ">
                        <div class="btn-search">
                            <input type="text" id="place-search" placeholder="   &#xF002;    Search">
                            <button type="search" id="button-search">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table border common-table-width">
                    <thead>
                        <tr style="height: 70px; font-weight: 600;">
                            <th scope="col">SR.NO.</th>
                            <th scope="col">NOTE TITLE</th>
                            <th scope="col">CATEGORY</th>

                            <th scope="col"> REMARKS </th>
                            <th scope="col"> CLONE</th>
                            <th scope="col"> </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table2">
                            <td>1</td>
                            <td style="color: #6255a5;">Data Science</td>
                            <td>Science</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr class="table2">
                            <td>2</td>
                            <td style="color: #6255a5;">Accounts</td>
                            <td>Commerce</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>


                        </tr>
                        <tr class="table2">
                            <td>3</td>
                            <td style="color: #6255a5;">Social Students</td>
                            <td>social</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table2">
                            <td>4</td>
                            <td style="color: #6255a5;">AI</td>
                            <td>IT</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table2">
                            <td>5</td>
                            <td style="color: #6255a5;">Lorem ipsum </td>
                            <td>Lorem</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table2">
                            <td>6</td>
                            <td style="color: #6255a5;">Data Science</td>
                            <td>Science</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table2">
                            <td>7</td>
                            <td style="color: #6255a5;">Accounts</td>
                            <td>Commerce</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>


                        </tr>
                        <tr class="table2">
                            <td>8</td>
                            <td style="color: #6255a5;">Social Students</td>
                            <td>social</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table2">
                            <td>9</td>
                            <td style="color: #6255a5;">AI</td>
                            <td>IT</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table2">
                            <td>10</td>
                            <td style="color: #6255a5;">Lorem ipsum </td>
                            <td>Lorem</td>
                            <td>Lorem ipsum is simply dummy text</td>
                            <td style="color: #6255a5;">Clone</td>
                            <td>
                                <div class="dropdown1">
                                    <img src="img/front-images/dots.png" class="dots">
                                    <div class="dropdown-content1">
                                        <a href="#">Download Note</a>

                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link arrow01" href="#" aria-label="Previous">
                        <span aria-hidden="true" class="fa fa-angle-left"></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link page-item01" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link arrow02" href="#" aria-label="Next">
                        <span aria-hidden="true" class="fa fa-angle-right "></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
