@model Notesmarketplace1.Models.Forgotpwd

@{
    Layout = "~/Views/Shared/_Layoutcommonn.cshtml";
}

    <section id="login">
        <!--logo-->
        <div id="logo-fp" class="text-center">
            <img src="~/Content/img/admin-images/top-logo.png" />
        </div>
        <!--login-->
        <div class="container">er">
                <h2>Forgot Password?</h2>
                <p>Enter your email to reset your password</p>
            </div>
            <!--form-->
            @using (Html.BeginForm("Forgotpassword", "Account", FormMethod.Post, new { }))
            {
                <div class="row" id="email">
                    <div class="col-md-12">
                        <label for="exampleInputEmail1">Email</label>
                        @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control", @PlaceHolder = "Enter email" })<br><br>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-login"><span>SUBMIT</span></button>
                </div>
            </div>
            }
        </div>
    </section>

   
