
@{
    Layout = "~/Views/Shared/_Layoutcommon.cshtml";
}

<div id="user-profile">
    <div class="content-box-md">
        <div class="container02">
            <div class="row">
                <div class="col-md-12 ">

                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
    </div>


</div>
<!--faq-->
<section id="faq">
    <div class="container-faq">
        <h2>General Questions</h2>
        <div class="row">
            <div class="main">
                <button class="accordion header-text">What is Marketplace-Notes?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptatem, eius nostrum sunt alias quod ea, nesciunt autem tempora id similique amet iure eligendi maiores deleniti error, rem quasi perferendis!</p>
                </div>
            </div>

            <div class="main">
                <button class="accordion header-text">What do the University say?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat voluptatum, hic distinctio saepe aliquam itaque libero, ea reprehenderit. Odit sapiente laboriosam recusandae accusamus perferendis repellat reprehenderit laborum dignissimos illum!</p>
                </div>
            </div>
            <div class="main">
                <button class="accordion header-text">Is this legal?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea libero odio ipsam culpa provident, officiis doloribus ut dicta tempore mollitia consequatur obcaecati enim assumenda ipsa temporibus, nostrum aliquid voluptatibus porro!</p>
                </div>
            </div>
        </div>
        <h2>Uploaders</h2>
        <div class="row">
            <div class="main">
                <button class="accordion header-text">What can't I sell?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptatem, eius nostrum sunt alias quod ea, nesciunt autem tempora id similique amet iure eligendi maiores deleniti error, rem quasi perferendis!</p>
                </div>
            </div>

            <div class="main">
                <button class="accordion header-text">What notes can I sell?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat voluptatum, hic distinctio saepe aliquam itaque libero, ea reprehenderit. Odit sapiente laboriosam recusandae accusamus perferendis repellat reprehenderit laborum dignissimos illum!</p>
                </div>
            </div>
        </div>
        <h2>Downloaders</h2>
        <div class="row">
            <div class="main">
                <button class="accordion header-text">How do I buy notes?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptatem, eius nostrum sunt alias quod ea, nesciunt autem tempora id similique amet iure eligendi maiores deleniti error, rem quasi perferendis!</p>
                </div>
            </div>
            <div class="main">
                <button class="accordion header-text">Can I edit the notes I purchased?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat voluptatum, hic distinctio saepe aliquam itaque libero, ea reprehenderit. Odit sapiente laboriosam recusandae accusamus perferendis repellat reprehenderit laborum dignissimos illum!</p>
                </div>
            </div>
        </div>


    </div>
</section>
