@model Notesmarketplace1.Models.UserRegistration
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0 ,user-scalable=no">
    <!--title-->
    <title>@ViewBag.Title NotesMarketplace</title>
    <!--Favicon-->
    <link href="~/Content/img/front-images/favicon.ico" rel="shortcut icon">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!--Font awesome-->
    <link href="~/Content/css/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/fontawesome/css/font-awesome.min.css">*@
    <link href="~/Content/css/responsive-tabs/responsive-tabs.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="css/responsive-tabs/responsive-tabs.min.css">*@
    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">*@

    <!--Custom CSS-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="css/style.css">*@
    <link href="~/Content/css/responsive-tabs/responsive.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="css/responsive-tabs/responsive.css">*@
</head>

<body>
    <section id="E-V">
        <!--logo-->
        <!--login-->
        <div class="container05">
            <div id="logo-ev">
                <img src="/Content/img/pre-login/purple-logo.png" />
                @*<img src="img/pre-login/purple-logo.png" alt="logo" class="img-responsive">*@
            </div>

            <div class="ev">
                <h4>Dear @ViewBag.firstname</h4>
                <h4>Thanks for Signing up!</h4>
                <h4>Simply click below for email verification.</h4>

           

            <!--form-->
            @*@using (Html.BeginForm("Verifyemail", "Account", new { }))*@

           

                 <br>   <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-ev"><a href="/Account/Login"><span>VERIFY EMAIL ADDRESS</span></a></button>
              
        </div>

        </div>
    </section>

    <script src="~/Scripts/js/jquery.min.js.js"></script>
    @*<script src="js/jquery.min.js.js"></script>*@
    <script src="~/Scripts/js/responsive-tabs/jquery.responsiveTabs.min.js"></script>
    @* <script src="js/responsive-tabs/jquery.responsiveTabs.min.js"></script>*@
    <!-- Bootstarp JS-->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
    @* <script src="js/bootstrap/bootstrap.min.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--Custom JS-->
    <script src="~/Scripts/js/script.js"></script>
    @*<script src="js/script.js"></script>*@
</body>
</html>